
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 
body{
    background-image: url(https://www.linkpicture.com/view.php?img=LPic6114bba6cb37f1658057868);
}
.container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-right: -145px;
    font-family: 'Lobster', cursive;
    
}


.container >div{ 
    background: rgb(238, 238, 238);
    background-color: plum;
    
    padding: 1em;
    margin: 3%;
    height: 380px;
    width: 340px;
    border-radius: 7vh;
    box-shadow: cadetblue;

}

.container >div:nth-child(odd){
         background: #ddd;
}
